@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


table,
tr,
td,
th {
  all: unset
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --lc-background: #f4f4f5;
  --lc-main: #fefefe;
  --lc-text: #000001;
  --lc-secondary-text: #757575;
  --lc-border: #d1d5db;
  --urgent: #ec5b55;
  --high: #ee9350;
  --normal: #4d86f2;
  --low: #36c07d;
}

[data-theme="dark"] {
  --lc-background: #1e1e1e;
  --lc-main: #2e2e2e;
  --lc-text: #ffffff;
  --lc-secondary-text: #f4f4f5;
  --lc-border: #dd7474;
  --urgent: #ff6b6b;
  --high: #ffae57;
  --normal: #6fa8ff;
  --low: #5df2a8;
}

html,
body {
  z-index: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}


table,
tr,
td,
th {
  display: block
}